In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
numbers.sort()
numbers

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

ls = []
for i in numbers:
    ls.append(numbers.count(i))
freq = max(ls)
num = numbers[ls.index(max(ls))]
print(f'The most frequent number is {num} and it was {freq} times repeated')

In [ ]:
numbers = [3,3,3,1, 9,9,9,9,3, 7, 4, 3, 0, 3, 6, 3,9]

ls = []
for i in numbers:
    ls.append(numbers.count(i))
print(f'The most frequent number is {numbers[ls.index(max(ls))]} and it was {max(ls)} times repeated')

In [ ]:
ls.index(4)

In [ ]:
numbers = [3,3,3,1, 9,9,9,9,3, 7, 4, 3, 0, 3, 6, 3,9,9,9,9,9,9]
n = max(set(numbers), key = numbers.count)
print(f'The most frequent number is {max(set(numbers), key = numbers.count)} and it was {numbers.count(n)} times repeated')

##

In [ ]:
ls = list('a b c d e f c d g h c d'.split())
ls[2]

In [ ]:
?count()

In [ ]:
type(a)

In [ ]:
a=21%3

In [ ]:
21//4

In [ ]:
kadayif = True

#ic
findik = True
fistik = True
ceviz = True

#serbet
su = True
seker = True

yumurta = True

#icecek
cay = True
limonata = True
mesrubat = True

In [ ]:
kadayif = (findik or fistik or ceviz) and (su and seker) and yumurta and (cay or limonata or mesrubat)

In [ ]:
kadayif

In [ ]:
print("\\"")

In [ ]:
s = 'selmankoczehra'

In [ ]:
s[0:9:3]

In [ ]:
s[::]

In [ ]:
s[::-1]

In [ ]:
a='orange'

In [ ]:
a[-5:-2]

In [ ]:
'clarus'[-3::-1]

In [ ]:
hayvan ='hippopotamus'

In [ ]:
hayvan[-5:-2:1]

In [ ]:
hayvan[-5:-2:-1]

In [ ]:
hayvan[-2:-5:-1]

In [ ]:
len(*'cvnc')

In [ ]:
s1 = 'clarus'
s1 += 'way'

In [ ]:
s1

In [ ]:
age = input('Are you a cigarette addict older than 75 years old?(Y/N): ')
chronic = input('Do you have a severe chronic disease?(Y/N): ')
immune = input('Is your immune system too weak?(Y/N): ')

if age== 'N' or 'n':
    age = False
else:
    age = True
if chronic== 'N' or 'n':
    chronic = False
else:
    chronic = True
if immune== 'N' or 'n':
    immune = False
else:
    immune = True

if age or chronic or immune == True:
    print('You have risk of death')
else:
    print("You don't have risk of death")

In [ ]:
age = input('Are you a cigarette addict older than 75 years old?(y/n): ')
chronic = input('Do you have a severe chronic disease?(y/n): ')
immune = input('Is your immune system too weak?(y/n): ')

age = age=='y' or age=='Y'
chronic = chronic=='y'or chronic=='Y'
immune = immune=='y'or immune=='Y'
risk = age or chronic or immune
print('Risk of death: ',risk)

In [ ]:
type(age)

In [ ]:
age

In [ ]:
read("I love Python")

In [ ]:
a=5!=6
a

In [ ]:
x = 0
for i in range(1, 1001):
    x+=i
x

In [ ]:
ls = [1,2,3,4,5]

In [ ]:
print(f"{286/788*45} = kdcksc {ls[0:3]*5}")

In [ ]:
type(f"3*5")

In [ ]:
name = "MARIAM"
print(f"My name is {name.capitalize()}")

In [ ]:
message = f"svnsn s{34985}"\
          f"sdjbvsj{876}"\
          f"kdjnks{74865}"

In [ ]:
message

In [ ]:
print('dnvksnvsnvsn\
dvmlsvlsvsldk v\ldkvnlsknn\,dv s v\
,dm vcmsv csm ')

In [ ]:
name = 'Susan'
age = 'young'
gender = 'lady'
school = 'IT university'
print(f"{name}is a {age}{g}"\
     )

In [ ]:
name = 'Susan'
age = 'young'
gender = 'lady'
school = "CLRWY It university"
message =(
    f"{name} is a "
    f" {age} {gender} and she is a student at the  "
    f"{school}"
)
print(message)

In [ ]:
word = 'clarusway'
n = 3
front = f"{word[:n]}"
back = f"{word[n:]}"
print(front + back)

In [ ]:
text = 'S0d0me and G0m0re'
new_text = text.replace('0', 'o')
print(new_text)

In [ ]:
t = 'iniiiteriiiobilinntynini'
print(t.strip('in'))

In [ ]:
text = 'tyou can learn almost everything in pre-classz'

In [ ]:
print(text.lsplit('t').rsplit('z').upper())

In [ ]:
a = 'selman23%4'

In [ ]:
a.isalnum()

In [ ]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 31,32))

In [ ]:
email[31]

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

In [ ]:
grocer[1][1][1::2]

In [ ]:
sayilar = [0, [1, [2, 3, 4, 5, 6, 7], 8], 9]
sayilar[1][1][::4]

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
flowers[0][2]

In [ ]:
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
colors[1][0]
colors[1][1][1]

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{} I have two children.{} Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

In [ ]:
ls = list(range(1,11))
ls.sort(reverse=True)
print(ls)

In [ ]:
ls

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

In [ ]:
a = list(dict_by_dict.items())
type(a)

In [ ]:
a

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }

In [ ]:
print(student_ages['Peter'])

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [ ]:
school_records['personal_info'].keys()

In [ ]:
# >>> tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel
{'jack': 4098, 'sape': 4139, 'guido': 4127}
>>> tel['jack']
4098
>>> del tel['sape']
>>> tel['irv'] = 4127
>>> tel
{'jack': 4098, 'guido': 4127, 'irv': 4127}
>>> list(tel)
['jack', 'guido', 'irv']
>>> sorted(tel)
['guido', 'irv', 'jack']
>>> 'guido' in tel
True
>>> 'jack' not in tel
False

In [ ]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)

In [ ]:
print(colorset)

In [ ]:
a = set((1,2,3,4))

In [ ]:
a

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

In [ ]:
a

In [ ]:
b

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

In [ ]:
print(len(set('listen to the voice of enlisted')))

In [ ]:
n = int(input('number: '))
ls = []
for i in range(n+1):
    ls[i] = int(input())

ls

In [ ]:
d= dict(numbers='1,2,3', letters= 'a,b,c')

In [ ]:
first_dict = {1:'one', 'two':2, False:[1,2,3]}

In [ ]:
first_dict

In [ ]:
d['numbers']

In [ ]:
d.values()

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
family = {'name1':'omer', 'name2':'zeynep', 'name3':'zehra'}

In [ ]:
family['name4']='gul'

In [ ]:
family

In [ ]:
len(family)

In [ ]:
for i in family.values():
    print(i)

In [ ]:
sayilar = {'tek': [1,3,5,7,9], 'cift':[2,4,6,8]}

In [ ]:
sayilar['tek'].append(11)

In [ ]:
sayilar

In [ ]:
sayilar['tek'].insert(4,13)

In [ ]:
sayilar

In [ ]:
meyveler = {}.fromkeys(['elma','armut'],0)

In [ ]:
meyveler

In [ ]:
meyveler['elma']+=1

In [ ]:
meyveler['armut']+=1

In [ ]:
meyveler

In [ ]:
family

In [ ]:
del family['name4']

In [ ]:
family

In [ ]:
a = 'omer' in family.items()
a

In [ ]:
'name1' in family

In [ ]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}

In [ ]:
len(school_records)

In [ ]:
list(school_records['grades_info']['teen']['joseph'].items())

In [ ]:
school_records['grades_info']['teen']['joseph']

In [ ]:
colors = 'red', 'blue', 'pink', 'red', 'orange'
set1 = set(colors)
set1

In [ ]:
letter = 'q a z w s x e d c r f v t g b y h n u j m i k o l p'.split()

In [ ]:
letter

In [ ]:
n = 6
n

In [ ]:
a = set('philadelphia')
b= set('dolphin')

In [ ]:
a

In [ ]:
b

In [ ]:
a.union(b)

In [ ]:
a.intersection(b)

In [ ]:
a.difference(b)

In [ ]:
b.difference(a)

In [ ]:
date = '12/07/2021'
set(date)

In [ ]:
given_list = [1, 2, 3, 3, 3, 3, 4, 4, 5, 5]
s = set(given_list)

In [ ]:
len(s)

In [ ]:
s = set()
s.add('f')

In [ ]:
s

In [ ]:
a = "wellington"
b = 'washington'
a = set(a)
b = set(b)

In [ ]:
a&b

In [ ]:
a.intersection(b)

In [ ]:
b-a

In [ ]:
a-b

In [ ]:
# None

[]
()
''
0
0.0
0j
{}

In [ ]:
convert = input('Enter yes or no: ').title().strip() == 'Yes'
convert

In [ ]:
num = int(input('number: '))
if num%2 == 0:
    print(f'{num} is even')
else:
    print(f'{num} is odd')

In [ ]:
n = input('your age: ')
while not n.isdigit():
    print('')

In [ ]:
a = 33
while True:
    n = int(input('your age: '))
    if n>33:
        print('little lower')
    elif n<33:
        print('little higher')
    else:
        print('Right!')
        break

In [ ]:
s = 'Clarusway is the best'
ls = s.split()
ls1 = []
n = 0
while n< len(s.strip('?,.! ').split()):
    ls1.append(len(ls[n]))
    n+=1
print(max(ls1))

In [ ]:
len(s.split())

In [ ]:
sentence = input("enter a sentence: ")
liste = sentence.strip(",.?").split()
maximum = 0
index = 0
boyut = len(liste)
while boyut > 0:
    a = len(liste[index])
    if a > maximum:
        maximum = a
    index += 1
    boyut -= 1
print(maximum)

In [ ]:
boyut

In [ ]:
x = input("sentence")
liste = max(x.split(), key= len)
liste

In [ ]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]
for i in names:
    print('hello', i)

In [ ]:
ls = []
for i in range(1,6):
    ls.append(i)
ls

In [ ]:
ls1 = [i for i in range(1,6)]
ls1

In [ ]:
s = 'Clarusway'
for i in s:
    print(i+'-', end='')

In [ ]:
course = 'clarusway'
s1 = ''
for i in course:
    s1+=i+'-'
print(s1, end='\b')

In [ ]:
n = int(input())
for i in range(11):
    print(f'{n}*{i} = {n*i}')

In [ ]:
for i in range(1,10):
    print(i*f'{i}')

In [ ]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x,y)

In [ ]:
ls = [12, 34, 55, 87, 89, 56,77]
even = 0
odd = 0
for i in ls:
    if i % 2 == 0:
        even+=1
    else:
        odd+=1
print('even: ', even,)
print('odd: ', odd)

In [ ]:

a = 0
for i in range(75):
    a+=i

print(a)

In [ ]:
a = sum(i for i in range(1,75))
a

In [ ]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names:
    for j in mood:
        print(i, 'is', j)

In [ ]:
ls = []
for i in range(5):
    ls.append(i)

In [ ]:
ls

In [ ]:
ls1 = [i for i in range(5)]
ls1

In [ ]:
[*range(5)]

In [ ]:
a=7
[a if a >5 else 0]

In [ ]:
1 if False else 0

In [ ]:
ls = [0, 1, 2, 3, 4, 5, (), {}, []]
[a**2 for a in ls if a%2]

In [ ]:
for i in filter(None, ls):
    print(i)

In [ ]:
generate = (i**2 for i in range(6))

In [ ]:
print(*generate)

In [ ]:
for i in generate:
    print(i)

In [ ]:
print(next(generate))

In [ ]:
def calculator(a, b, opr):
    if opr not in ('+', '-', '/', '*'):
        print('Enter valid argument')
    else:
        if opr == '+':
            print(a+b)
        elif opr == '-':
            print(a-b)
        elif opr == '/':
            print(a/b)
        else: print(a*b)

In [ ]:
calculator(3,4,'%')

In [ ]:
def absulate_value(n):
    if n < 0:
        return -n
    else: return n

In [ ]:
absulate_value(-4)

```def print(abs.__doc__)```

In [ ]:
def texter(c, a, b):
    print(f'{a} {b} {c} ')

In [ ]:
def texter(c, a, b):
    print(a, b, c)
a = 'i'
b = 'love'
c = 'you'
texter(c, a, b)

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action)
    print("-- if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [ ]:
parrot(1000, 'KOOOM', 'VOOOOOM')

In [ ]:
def slicer(*args):
    odd, even = [], []
    for i in args:
        if i%2:
            odd.append(i)
        else:
            even.append(i)
    return even , odd

In [ ]:
slicer(1,2,3,4,5,6,7,8,9)

In [ ]:
def yan(*arg):
    return next(arg)

In [ ]:
yan([5,6,8,4,5,8,5,6,2,4,5])

In [ ]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

In [ ]:
brothers('tom', 'sue', 'tim')

In [ ]:
next([1,2,3])

In [ ]:
def filt(s):
    return filter(lambda a: a in ('a', 'e', 'i', 'o', 'u'), s)

In [ ]:
a = filt('jkasdkuusjvba')
list(a)

In [ ]:
def voweler(s):
    for i in s:
        if i in ('a', 'e', 'i', 'o', 'u'):
            return i

In [ ]:
sentence = 'bir gun gelecek ve'

In [ ]:
filt_vow = filter(voweler, sentence)
list(filt_vow)

In [ ]:
def merger(a,b,c,d):
    print(f'For me, {a} {d} and {c} {b} are geniuses')
genius = ''

In [ ]:
dict_couple = {"bride" : ["mary", "bella", "linda", "emma"],
               "groom" : ["jack", "robert", "eric", "adam"]}

In [ ]:
def muruvet(bride, groom):
    return [i for i in zip(dict_couple['bride'], dict_couple['groom'])]
muruvet(**dict_couple)

In [ ]:
friends  = {'ali': 54, 'veli': 67, 'deli':34}

In [ ]:
def meaner(a):
    avg = 0
    for i in a.values():
        avg+=i
    return (f'average is {avg/3}')

In [ ]:
meaner(**friends)

In [ ]:
(lambda x : 'odd' if x%2 else 'even')(6)

In [ ]:
evod = lambda x : 'odd' if x%2 else 'even'
evod(5)

In [ ]:
(lambda x : x[::-1])('selman')

In [ ]:
for i in [1,2,3,4,5,6]:
  print(i,':', (lambda i: 'odd' if i%2!=0 else 'even')(i))

In [ ]:
list(map(lambda i: 'odd' if i%2!=0 else 'even', [1,2,3,4,5,6]))

In [ ]:
map(lambda i: 'odd' if i%2!=0 else 'even', [1,2,3,4,5,6])

In [ ]:
def sq(a):
    return a*a
list(map(sq, [1, 2, 3, 4, 5]))

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'w']
letter3 = ['e', 'x', 'n']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

In [ ]:
list(numbers)

In [ ]:
num1 = [9,6,7,4]
num2 = [3,6,5,8]
list(map(lambda a, b : (a+b)/2, num1, num2 ))

In [ ]:
words = ['ali', 'veli', 'deli', 'kjsfdvskjnvsdkjvn', 'fdvb fvdjkhabvfkjsbv   fkdvndkjlnv']
list(map(lambda x : len(x), words))

In [ ]:
list(map(len, words))

In [ ]:
list(map(sorted, words))

In [ ]:
nums1 = [9,6,7,4]
nums2 = [3,6,5,8]

average = map(lambda x,y : (x+y)/2, nums1, nums2)

print(list(average))

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]
list(filter(lambda x : len(x)<5 , words))

In [ ]:
vowels = ['a', 'e', 'i', 'u', 'o']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
list(filter(lambda a : a in vowels, first_ten))

In [ ]:
commends = ['r 20', 'r 30', 'l 50', 'd 20', 'u 10']
x ,y= 0, 0
for i in commends:
    if i[0] in ('r', 'l'):
        if i[0] == 'r':
            x+=int(i[2:])
        else:
            x-=int(i[2:])
    else:
        if i[0] == 'u':
            y+=int(i[2:])
        else:
            y-=int(i[2:])
print([x, y])

In [ ]:
x = y = 0
C = ['r 20', 'r 30', 'l 50', 'd 20', 'u 10']
for i in range(len(C)) :
    if C[i].startswith("r") : x = x + int(C[i].split()[1])
    elif C[i].startswith("l") : x = x - int(C[i].split()[1])
    elif C[i].startswith("u") : y = y + int(C[i].split()[1])
    elif C[i].startswith("d") : y = y - int(C[i].split()[1])
        
[x, y]

In [ ]:
commands = ["right 20", "right 30", "left 50", "up 10" "down 20"]

x = y = 0

for i in range(len(commands)):
        if commands[i].startswith("r") : x += int(commands[i].split()[-1])
        elif commands[i].startswith("l") : x -= int(commands[i].split()[-1])
        elif commands[i].startswith("u") : y += int(commands[i].split()[-1])
        elif commands[i].startswith("d") : y -= int(commands[i].split()[-1])
[x,y]

In [ ]:
def rep(n):
    return lambda x: x*n

In [ ]:
repeat_5 = rep(5)

In [ ]:
repeat_5('koc')

In [ ]:
repeat_2 = rep(2)

In [ ]:
repeat_2('selman...')

In [ ]:
def functioner():
    return 'hello'
smile = functioner()

In [ ]:
smile(':)')

In [ ]:
def equal(*args):
    return lambda x : max(list(args), key = list(args).count)
res = equal(1,2,3,2)
res(3)

In [ ]:
def equal(*args):
    return lambda args: [args].count(max([args], key= [args].count))

In [ ]:
res = equal(1,2,3,4,4)

In [ ]:
res(4)

In [ ]:
def func_gen(f):
    return lambda x : f(x)
myPrint = func_gen(print)
myPrint('clarusway')

In [ ]:
myPrint = func_gen(print)

In [ ]:
myPrint('koc')

In [ ]:
import datetime

In [ ]:
print(datetime.datetime.now())

In [ ]:
datetime.date.today()

In [ ]:
b = datetime.date(571, 4, 22)

In [ ]:
o = datetime.date(632, 6, 8)

In [ ]:
o-b

In [ ]:
pwd

In [ ]:
from upper_package.inner_pac1 import module_1, module_2

In [ ]:
help(module_1)

In [ ]:
dir(module_1)

In [ ]:
dir(module_2)

In [ ]:
print(module_1.__doc__)

In [ ]:
from upper_package.inner_pac1.module_1 import addition, multi

In [ ]:
addition('sdbhjkcv', 'dkvlnkl')

In [ ]:
multi(5,7)

In [ ]:
pip --version

In [ ]:
pip list

In [ ]:
n = 58651648942365121
list(str(n))[::-1]

In [ ]:
def my_factorial(n):
    res = 1
    for i in range(n):
        res*=i+1
    return res
my_factorial(1)

In [ ]:
def my_factorial(n):
    res = 1
    while n != 0:
        res*=n
        n-=1
    return res
my_factorial(4)

In [ ]:
ops = {'+':+, '-':-, '*':*, '/':/}

In [ ]:
def cal(a, b):
    return lambda x : a

In [ ]:
ops["+"](3, 5)

In [ ]:
import random

In [ ]:
uppers = [chr(random.randint(65, 90)) for  i in range(3)]
uppers

In [ ]:
''.join(uppers)

In [ ]:
numbers = [chr(random.randint(48, 57) for  i in range(3)]
numbers

In [ ]:
from timeit import timeit

In [ ]:
def for_loop():
    res = []
    for i in range(1000000):
        res.append(i)
    return res

In [ ]:
def ls_comp():
    return [i for i in range(1000000)]

In [ ]:
from datetime import datetime

In [ ]:
start = datetime.now()
for_loop()
end = datetime.now()
print(end - start)

In [ ]:
start = datetime.now()
ls_comp()
end = datetime.now()
print(end - start)

In [ ]:
time1 = timeit(for_loop, number = 1000)
time2 = timeit(ls_comp, number = 1000)

In [ ]:
print(f'list comprehension is {round(time1/time2, 2)} times faster than for_loop')

In [ ]:
time1

In [ ]:
time2

In [ ]:
import smtplib

In [ ]:
server = smtplib.SMTP('smtp.gmail.com', 587)

In [ ]:
server.starttls()

In [ ]:
server.login('slmnkc10','TUzakci7910')

In [ ]:
message = 'What are you doing?'

In [ ]:
server.sendmail('slmnkc10@gmail.com', 'ustaoglusamet05@gmail.com', message)

In [ ]:
print(5)
pritn('hello'
6

In [ ]:
import math

In [ ]:
a = math.sqrt(b)
a

In [ ]:
range('23')

In [ ]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        
        division = no_one / no_two
        print("The result of the division is : ", division)
        break
    except:
        print('something is wrong.')

In [ ]:
try:
    file = open('my_file.txt', 'r')
    print(file.read())
    file.close()
except:
    print('there is not such a file or the path is incorrect')

In [ ]:
file = open('my_file.txt', 'r')
print(file.read())
file.close()

In [ ]:
try:
    x = 2/0
except:
    print('Something else went wrong')
except ZeroDivisionError:
    print('Attempt to divide by zero')

In [1]:
ls = ['elma', 'armut', 'kiraz', 'erik', 'cilek', 'karpuz']
while True:
    try :
        n = int(input('select your favourite fruit: '))
        print(f'your favourite fruit is {ls[n]} ')
        break
    except:
        print('wrong choise')

select your favourite fruit: 9
wrong choise
select your favourite fruit: gnf
wrong choise
select your favourite fruit: fgj
wrong choise
select your favourite fruit: 6
wrong choise
select your favourite fruit: 3
your favourite fruit is erik

In [2]:
fruits = ["banana","mango","pear","apple","kiwi","grape"]
count=3
while count > 0:
    try:
        index = int(input("Pick an index number to choose your favorite fruit :"))
        print("Your favorite fruit is",fruits[index] )
    except IndexError:
        count -= 1
        print(f"There is no such an Index. You have {count} tries remaining. Try again!")
    except ValueError:
        count -= 1
        print(f"You should enter integer. You have {count} tries remaining. Try again!")
    else:
        print("Congrats! You have entered a valid input.")
        break
    finally:
        print("Out fruits are always fresh!")

Pick an index number to choose your favorite fruit :kjn
You should enter integer. You have 2 tries remaining. Try again!
Out fruits are always fresh!
Pick an index number to choose your favorite fruit :gvg
You should enter integer. You have 1 tries remaining. Try again!
Out fruits are always fresh!
Pick an index number to choose your favorite fruit :099
There is no such an Index. You have 0 tries remaining. Try again!
Out fruits are always fresh!

In [3]:
file = open('fishes.txt', 'r')
print(file.read())
file.close()

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [4]:
file = open("fishes.txt", "r")
print(file.read(33))
print(file.read(33))
file.seek(0)
print(file.read(33))
print(file.tell())
file.close()

Orca is a kind of Dolphin.
Blue W
hale is the largest animal known
Orca is a kind of Dolphin.
Blue W
34

In [7]:
rumi = open('rumi.txt', 'r')
print(rumi.read())
file.close()

I want to sing
Like the birds sing,
Not worrying about
Who hears or
What they think.

In [12]:
rumi = open('rumi.txt', 'r')
print(rumi.read(35))
print(rumi.read(13))
print(rumi.tell())
rumi.seek(15)
print(rumi.read(20))
file.close()

I want to sing
Like the birds sing,

Not worrying
50

Like the birds sing

In [1]:
s = input('Give me a sentence: ')
dic = {}
for i in s.lower():
    if i in dic:
        continue
    else:
        dic[i]=s.count(i) 
print(dic)

Give me a sentence: hippo runs to us!
{'h': 1, 'i': 1, 'p': 2, 'o': 2, ' ': 3, 'r': 1, 'u': 2, 'n': 1, 's': 2, 't': 1, '!': 1}

In [4]:
veri = ["a", "b", True, (False, 1), {"1" : 2}, [1,2], {"2" : "two"}, {2, "3"}, "c", 23, 0]
dic = {}
for i in veri:
    if type(i) in dic.keys():
        dic[type(i)]+=1
    else:
        dic[type(i)] =  1
dic

{str: 3, bool: 1, tuple: 1, dict: 2, list: 1, set: 1, int: 2}

In [5]:
def obeb(a, b):
    n_min = min(a, b)
    while n_min != 1:
        n_min-=1
        if a%n_min == 0 and b%n_min == 0:
            print(n_min)
            break

In [12]:
obeb(65, 25)

5

In [10]:
def okek(a, b):
    n_min = (a, b)
    x = 1
    while x !=n_min:
        x+=1
        if a%x == 0 and b%x == 0:
            print(x)
            break

In [11]:
okek(9, 6)

3

In [13]:
def obeb(a,b):
    if b==0:
        return a
    else:
        return obeb(b,a%b)
def okek(a,b):
    return int(a*b / obeb(a,b))
print(okek(65,25))
print(obeb(65,25))

325
5

In [14]:
def facto(n):
    if n ==0: return 1
    else:
        return n*facto(n-1)

In [15]:
facto(3)

6

In [3]:
import random
random.randrange(0,91,5)

35

In [5]:
def foo():
    try:
        return 1
    finally:
        return 2
k = foo()
print(k)

2

In [7]:
x=10
y=8
assert x>y, 'X too small'

In [8]:
valid = False
while not valid:
    try:
        n=int(input("Enter a number"))
        while n%2==0:
            print("Bye")
        valid = True
    except ValueError:
        print("Invalid")

Enter a number9

In [9]:
print({a**2 for a in range(4)})

{0, 1, 4, 9}

In [10]:
import copy
a=[10,23,56,[78]]
b=copy.deepcopy(a)
a[3][0]=95
a[1]=34
print(b)

[10, 23, 56, [78]]

In [11]:
print('abcefd'.replace('cd', '12'))

abcefd

In [12]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

[1, 3, 6, 10]